.App {
  text-align: center;
  background-color: #282c34;
  background: linear-gradient(#01082ed6, #000000);
  margin: 0 !important;
  min-height: 100vh;
  min-width: 100vw;
}

.Navbar {
  margin: 0 !important;
  padding-left: 2.1% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#040624, #696d6e18) !important;
  color: red;
}

.Navbar h1 {
  padding-top: 1.5rem;  
}

.title {
  color: red !important;
}

.button-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(220, 11, 11) !important;
}

.button-title :hover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(220, 11, 11) !important;
}

.login-page {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-card {
  width: 50% !important;
  cursor: pointer;
  color: rgb(71, 4, 4) !important;
}

.login-title {
  color: white !important;
  display: flex;
  justify-content: center !important;
  align-items: center;
  padding-right: 2%;
  margin-right: 2%;
}

.login-button-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.confirmation-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirm-Btn {
  background: linear-gradient(#b0aeae8f, #000000, #020550) !important;
  color: white !important;
}

.confirm-Btn:hover {
  color: rgb(220, 154, 11) !important;
  background: linear-gradient(#979696, #000000, #020443) !important;
}

.import-button {
  cursor: pointer;
}


.menu-label {
  color: rgb(255, 255, 255) !important;
  font-size: large;
}

.menu-label.active {
  color: rgb(255, 255, 255)!important;
  text-decoration: none!important;
}
.menu-label:hover {
  color: rgb(243, 19, 19)!important;
  font-size: large;
}

.signup-form {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  color: teal;
  font-weight: bold !important;
  text-align: center;
  width: 42% !important;
  min-height: 100vh !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4.2% !important;
  margin: 0 !important;
}

.video-description {
  background: linear-gradient(#07013b, #080127fd) !important;
  color: rgb(255, 253, 253);
}

.video-description:hover {
  /* color: #f62828; */
  color: #f6ae28;
  background: linear-gradient(#606985, #020429) !important;
}

.video-title {
  color: rgb(248, 246, 246);
  margin-bottom: 42px;
}

.CardVideoContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(#000000fd, #0c045a) !important;
  color:white;
  font-size: large!important;
  font-style: italic;
  min-height: 21vh;
  text-align: center !important;
}

.audio-player {
  background: linear-gradient(#fefffd, #d6d5d5fd) !important;
  border-radius: 4px;
  color: red;
}


.e-learning {
  padding: 4.2% !important;
}

.book-info, .elearning-header {
  background: linear-gradient(#fefffd, #d6d5d5fd) !important;
}

.book-info a, .elearning-header a {
  color: rgb(7, 6, 77) !important;
}

.book-info-no-audio, .not-opened-header {
  color: rgb(7, 6, 77) !important;
  background: linear-gradient(#fefffd, #d6d5d5fd) !important;
}

.book-info a:hover, .elearning-header a:hover {
  color: rgb(212, 1, 1) !important;
}

.audio-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2.1%;

}

.audio-content{
  padding: 4.2% !important;
  margin: 0 !important;
}

.audio-background{
  background: linear-gradient(#f6f6f6,#040624) !important;
}

.webradio{
  background: linear-gradient(#040624, #696d6e18) !important;
}

.label-user {
  background: linear-gradient(#dad6d6, #ffffff, #e4e4e4) !important;
  color: rgb(6, 12, 84) !important;
}

.label-user :hover{
  cursor: pointer;
}


.userAddress {
  cursor: pointer;
  /* color: rgb(6, 12, 84) !important; */
  /* background: linear-gradient(rgba(234, 234, 234, 0.683), rgb(255, 255, 255), rgb(255, 255, 255), rgb(118, 118, 119)) !important; */
}

.userAddress :hover{
  /* background: linear-gradient(rgba(234, 234, 234, 0.683), rgb(255, 255, 255), rgb(187, 187, 187), rgb(63, 63, 66)) !important; */
}

.userName {
  /* background: linear-gradient(rgba(201, 27, 27, 0.209), rgb(120, 2, 2), rgb(201, 27, 27), rgba(1, 1, 47, 0.992)) !important; */
  color: rgb(255, 255, 255) !important;
  /* width: 50%; */
}

.userContainer{
  background: linear-gradient(#a45f5f, #ffffff, #e4e4e4) !important;
}

.course-content {
  margin: 2.1rem !important;
  cursor: pointer;
}

.web3-error {
  text-align: center;
  background: linear-gradient(#980505f8, #f31111, #ff2d2d) !important;
  color: white;
}

